
.button-container {
   @media (min-width: $desktop-breakpoint) {
      display: flex;
      flex-direction: column;
      justify-content: center;  
   }
}

.button {
   background: $medium-teal;
   border-radius: 3px;
   color: white;
   display: inline-block; /* vertical margin and padding gets taken into effect. default inline. */
   font-size: $font-size-large;
   font-weight: 300;
   padding: $s-size;
   margin-top: $s-size;
   border: none;
   text-decoration: none;
   line-height: 1;
   transition: all 0.1s ease-in-out;
}

.button--link { 
   background: none;
   color: $dark-grey;
   transition: all 0.15s ease-in-out;
   margin-top: 0;
   &:hover {
      color: lighten($dark-grey, 40%); 
   }
}

.button--standard {
   &:hover { // same as .list-item:hover 
      background: lighten($medium-teal, 7%);
   }
}

.button--add {
   margin-top: 0;
   @media (min-width: $desktop-breakpoint){ /* For desktop */
      padding: $s-size;
   }
}

.button--delete-post {
   background-color: $medium-grey;
   &:hover { // same as .list-item:hover 
      background: lighten($medium-grey, 7%);
   } 
}

.button-modal {
   margin: $m-size $s-size 0 $s-size;
}

