
.list-body { /* In case list touch very bottom of page */
   margin-bottom: $m-size;
   @media (min-width: $desktop-breakpoint){ /* For desktop */
      margin-bottom: $l-size;
   }
}

.list-body__headline {
   border-bottom: 1px solid darken($off-white, 6%);
   margin-bottom: 0;
   padding-bottom: $m-size;
   font-size: $font-size-xl;
}

.list-item {
   border: 1px solid darken($off-white, 6%);
   border-top: none;
   text-decoration: none;
   font-size: $font-size-large;
   color: $dark-grey;
   display: flex;
   //flex-direction: column;
   padding: $s-size $s-size;
   transition: all 0.2s ease-in-out;

   &:hover { // same as .list-item:hover 
      background: lighten($off-white, 1%);
      border-left: 0.5rem solid $light-teal;
   }

}

.list-item__content {
   display: flex;
}

.list-item__title {
   margin: 0;
   font-size: $font-size-large;
   word-break: break-all;
   /*border-bottom: 2px solid $light-teal;*/
}

.list-item__sub {
   color: $grey;
   font-size: $font-size-small;
   display: flex;
}

.list-item__sub-text {
   padding-right: 5px;
}