
.page-header {
   margin: $s-size 0 $xxs-size 0;
   color: $dark-grey;
}

.page-header-add {
   margin-top: $m-size;
}

.page-header__actions {
   margin-top: $m-size;
}

.page-header__title {
   font-weight: 300;
   margin: 0;
   span {
      font-weight: 700;
   }
}