
.page-header {
   margin-bottom: $font-size-xs;
   color: $dark-grey;
}

.page-header__actions {
   margin-top: $m-size;
}

.page-header__title {
   font-weight: 300;
   margin: 0;
   span {
      font-weight: 700;
   }
}